<script type="text/ng-template" id="/producers.html">
  <div class="page-header">
    <h3>
      <a ng-show="producer.link" href="{{producer.link}}">
        {{producer.title}}
      </a>
      <span ng-hide="producer.link">
        {{producer.title}}
      </span>
    </h3>
  </div>

  <div ng-repeat="comment in producer.comments | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up"
      ng-click="incrementUpvotes(comment)"></span>
    {{comment.upvotes}} - by {{comment.author}}
    <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
    </span>
  </div>
</script>
