<!DOCTYPE html>
<html>
  <head>
    <title>Gastronome</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-app="gastronome" ng-controller="MainCtrl">
    <div ng-include="'nav/_nav.html'"></div>
    <%= yield %>
  </body>
</html>
